/*Generales*/

*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:#F4EBEB;
}

nav
{
    background-color:pink;
    font-size:large;
    
}

nav ul li {
    padding: 0.5em;
}

li {
    display:inline;
}

/*Color de los parrafos*/
 h1 , h2 ,h3, h4 , p{
    color:black;
    font-family: 'Lato', sans-serif;
}


footer {
margin-top: 20px;
    text-align:center;
    background-color:#edcfc3;
    
}

/*INDEX*/

/*Animacion*/

<<<<<<< HEAD
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) } 
}


=======
>>>>>>> 0d86005baa583634ae10b835ada7ad094ed2e346

.colormain{
    background-color:pink;
}

/*Color de titulo principal*/
.titulo

{
    color:black;
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}



.imagen-index {
    
    width: 33%;
    height: 350px;
float: right;
}

.p-imagenindex {
    float: right;
    background-color:pink;
    
}

.video-index {
   
    width: 33%;
    height: 350px;
}





/*SERVICES*/

.tomo {
   text-align: center;
    background-color:#0CD1EC;

}

.reso {
    text-align: center;
     background-color:#ECEC0C
 
 }

 .radio {
    text-align: center;
     background-color:#0CD1EC
 
 }

 /*EQUIPMENT*/
container-texto {
    display: flex;
    flex-flow: row wrap;
}

 /*About US*/

 .history {
     text-align:center;
 }


 .loca {

    text-align: center;

 }

 .map {
    width: 512px;
    display: block;
    margin: 0 auto;
 }
 

 /*STAFF*/

 .titulo-staff {
     text-align: center;
    padding-bottom: 10px;
    font: size 1.5em;
 }

 .p-staff {
    text-align: center;
    padding: 50px;
}

.img-staff {
    text-align: center;
}

.contenedor-card {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}


.medicard {
    width:240px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;

}

.medicard h3 h4 {
    text-decoration: bold;
}

.medicard:nth-child(1) {
    background: rgb(195,219,223);
    background: linear-gradient(90deg, rgba(195,219,223,0.9472163865546218) 46%, rgba(16,196,218,0.8827906162464986) 100%);
}

.medicard:nth-child(2) {
    background: rgb(212,212,18);
    background: linear-gradient(90deg, rgba(212,212,18,0.12088585434173671) 58%, rgba(171,172,25,0.8827906162464986) 100%);
}

.medicard:nth-child(3){
    background: rgb(195,223,198);
    background: linear-gradient(90deg, rgba(195,223,198,0.9472163865546218) 46%, rgba(16,218,32,0.8827906162464986) 100%);
}



.medicard h3 {
    padding: 5px;
}

.medicard h4 {
    padding: 5px;
}

.medicard p {
    padding:10px;
}

.medicard img {
    width: 300px;
    height:400px;
    object-fit: cover;
}
